.corridor-board td{
    border: solid 1px;
}

.pawnSquare{
    width: 2em;
    height: 2em;
}

.wall{
    background-color: silver;
}

.wallVertical{
    width: 0.5em;
    height: 2em;
}

.wallAcross{
    width: 2em;
    height: 0.5em;
}

.intersection{
    width: 0.5em;
    height: 0.5em;
}

table{
    grid-column: 2 / 3;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

button{
    font-size: medium;
    width: 200px;
    height: 50px;
}

h1, #unfinishable{
    text-align: center;
}

#unfinishable{
    color:crimson;
}

.wallNumber{ display: inline;}

.grid{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#leftWalls{
    grid-column: 1 / 2;
}

#rightWalls{
    grid-column: 3 / 4;
}

img {
    width: 28px;
}

.rightObjective {
    background-color:rgba(95, 223, 70, 0.8)
}

.leftObjective {
    background-color: rgba(247, 43, 43, 0.8);
}

.flexContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}